@each $cat in $categories {
  .#{nth($cat,1)} {
    border:none;
    border-bottom: 1px solid nth($cat,2);
    border-radius: 0;

    &:hover,
    &:active{
      background: nth($cat,2);
      color: nth($cat,3)
    }
  }
}

@media(min-width: 881px){
  .categories a{
    &:before,
    &:after{
      content: none;
    }
  }
}

@media(max-width: 880px){
  .categories{
    span{
      display: none;
    }
    icon{
      margin-left: 0!important;
    }
  }
}
