.widget{
  & > h3{
    @extend .m-t-0;
    @extend .m-b;
  }

  & + .widget{

    @extend .m-t;
    @extend .p-t;
    @extend .b-t;
  }

  & > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @extend .m-b;
    @extend .m-t-0;


    h3{
      margin:0;
    }

    & > div{
      background-repeat: no-repeat;
      background-size: contain;
      width: 1.7em;
      height: 1.7em;
    }
  }
}
