@each $b in $buttons {
  .btn.btn-#{nth($b,1)} {
    background: nth($b,2);
    color: nth($b,3);
    border: none;

    &:hover,
    &:active{
      background: darken(nth($b,2),10%);
    }


    &.btn-gradient {
      background: linear-gradient(to right,#{nth($b,2)},adjust-color(nth($b,2), $hue: -32deg));
    }

    &.btn-physical{
      border-bottom: 3px solid darken(nth($b,2),10%);
    }
  }
}

.btn{
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;

  text-decoration: none;

  transition: background .2s ease, border-color .2s ease, color .2s ease;
  border: 1px solid $border;
  padding: .75em 1.5em;
  border-radius: .25em;
  background: transparent;
  color: $text;
  white-space: nowrap;

  &:hover,
  &:active{
    background: darken(white,5%);
  }

  &.btn-small{
    font-size: .8em;
  }

  &.btn-round{
    border-radius: 1.5em;
  }

  & + .btn{
    margin-left: 1em;
  }
}
