icon{
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.clean){
    svg{
      width: 1.25em;
      height: 1.25em;
    }

    svg *{
      stroke: currentColor;
    }

    &:last-child{
      margin-left: .75em;
    }

    &:first-child{
      margin-right: .75em;
    }

    &:not(:first-child):not(:last-child){
      margin: 0 .75em;
    }
  }
}
