[class^=#{$namespace}grid]{
	padding: $spacing;
}

.#{$namespace}grow{
	flex-grow: 1;
}

@for $i from 2 through $grids{
	.#{$namespace}grow-#{$i}{
		flex-grow: $i
	}
}

@for $i from 0 through $grids{
	.#{$namespace}shrink-#{$i}{
		flex-shrink: $i
	}
}

@for $i from 1 through ($grids - 1){
	.#{$namespace}size-#{$i / $grids * 100}{
		flex-basis: $i / $grids * 100%;
		flex-shrink: 0;
	}
}

@media(max-width: $breakpoint){
	.row{
		flex-wrap:wrap;
	}
	.grid{
		flex-basis: 100%;
	}
}
