$tooltip-background: #333;

[tooltip-top],
[tooltip-bottom],
[tooltip-left],
[tooltip-right]{
	position:relative;

	&:before{
		display:block;
    z-index: 1;
		position: absolute;
		pointer-events: none;
		opacity: 0;
		color:white;
		background: $tooltip-background;
		white-space: nowrap;

		border-radius: 3px;

		font-size: 16px;

		padding: .3rem .7rem;
		transition: transform .1s ease,opacity .1s ease;
	}

	&:after{
		content: '';
    z-index: 1;
    pointer-events: none;
    opacity:0;
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    transition: transform .1s ease,opacity .1s ease;
	}

	&:hover,
	&:active{
		&:before{
			opacity:1;
		}
		&:after{
			opacity:1;
		}
	}
}

[tooltip-top]{
	&:before{
		content: attr(tooltip-top);
		bottom:calc(100% + 10px);
		left:50%;
		transform: translate(-50%,10px);
	}

	&:after{
	    bottom: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-top: 5px solid $tooltip-background;
	    border-bottom: 5px solid rgba(0, 0, 0, 0);
	    border-left: 6px solid rgba(0, 0, 0, 0);
	    border-right: 6px solid rgba(0, 0, 0, 0);
	    transform: translate(0,10px);
	}

	&:hover,
	&:active{
		&:before{
			transform: translate(-50%,0);
		}
		&:after{
			transform: translate(0,0);
		}
	}
}

[tooltip-bottom]{
	&:before{
		content: attr(tooltip-bottom);
		left:50%;
		top:calc(100% + 10px);
		transform: translate(-50%,-10px);
	}

	&:after{
		top: 100%;
		left:50%;
		border-top: 5px solid transparent;
		border-bottom: 5px solid $tooltip-background;
		border-left:6px solid transparent;
		border-right:6px solid transparent;
		margin-left: -5px;
		transform: translate(0,-10px);
	}

	&:hover,
	&:active{
		&:before{
			transform: translate(-50%,0);
		}
		&:after{
			transform: translate(0,0);
		}
	}
}

[tooltip-left]{
	&:before{
		content: attr(tooltip-left);
		right:calc(100% + 10px);
		top:50%;
		transform: translate(10px,-50%);
	}

	&:after{
		top: 50%;
		right:100%;
		border-right: 5px solid transparent;
		border-left: 5px solid $tooltip-background;
		border-bottom:6px solid transparent;
		border-top:6px solid transparent;
		margin-top: -5px;
		transform: translate(10px,0);
	}

	&:hover,
	&:active{
		&:before{
			transform: translate(0,-50%);
		}
		&:after{
			transform: translate(0,0);
		}
	}
}

[tooltip-right]{
	&:before{
		content: attr(tooltip-right);
		left:calc(100% + 10px);
		top:50%;
		transform: translate(-10px,-50%);
	}

	&:after{
		top: 50%;
		left:100%;
		border-left: 5px solid transparent;
		border-right: 5px solid $tooltip-background;
		border-bottom:6px solid transparent;
		border-top:6px solid transparent;
		margin-top: -5px;
		transform: translate(-10px,0);
	}

	&:hover,
	&:active{
		&:before{
			transform: translate(0,-50%);
		}
		&:after{
			transform: translate(0,0);
		}
	}
}
